<div class="card_sections">
  <div class="card">
    <%- include('../partials/search'); %>
    <img id="image-weather" src="images/default-weather.jpg" alt="Avatar" />
    <div class="card__container">
      <h1 id="location-country-city" class="location"></h1>
      <div id="weather-info" class="card__container__weather"></div>
    </div>
  </div>
  <div id="card-description" class="card__description"></div>
</div>
